<h1>User details are</h1>

<p> <strong>Name: </strong> <%= @user.name %> </p>
<p> <strong>Email: </strong> <%= @user.email %> </p>
<p> <strong>Phone_no: </strong> <%= @user.phone_no %> </p>

<%= link_to "Sign out", signout_path,class: "btn btn-primary" %>


<%= link_to "Book the Journey",new_journey_path,class: "btn btn-primary" %>
<%= link_to "Edit Your details",edit_user_path, class: "btn btn-primary" %>
