<h1>Hi <%= current_user.name %>, Your feedback is Important</h1>

<%= form_with(model: @fdbk , url: journey_fdbks_path(@journey_detail), local: true) do |form|%>
<div class="form-group" >
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
</div>

<div class = "actions">
    <%= form.submit "Submit Feedback", class: "btn btn-primary"%>
</div>

<% end %>

