
<div>

<h1 class= "driver-head">Driver details are</h1>

    <div class = "driver-info">

        <p> <strong>Name: </strong> <%= @driver.name %> </p>
        <p> <strong>Email: </strong> <%= @driver.dl_no %> </p>
        <p> <strong>Phone_no: </strong> <%= @driver.phone_no %> </p>


    </div>

    <div class = "driver-buutton">
        <%= button_to "Sign out", logout_path, method: :delete,class: "btn btn-primary" %>

        <%= link_to "Edit Your details",edit_driver_path, class: "btn btn-primary" %>       
    </div>
    

</div>

