<h1>Journey Details</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Start Location</th>
      <th>End Location</th>
      <th>Advance Amount</th>
      <th>No. of Passengers</th>
      <th>Driver ID</th>
      <th>Taxi ID</th>
    </tr>
  </thead>
  <tbody>
    <% @journey_details.each do |journey| %>
      <tr>
        <td><%= journey.id %></td>
        <td><%= journey.date_of_journey %></td>
        <td><%= journey.start_time %></td>
        <td><%= journey.end_time %></td>
        <td><%= journey.start_loc %></td>
        <td><%= journey.end_loc %></td>
        <td><%= journey.adv_amt %></td>
        <td><%= journey.no_of_passngr %></td>
        <td><%= journey.driver_id %></td>
        <td><%= journey.taxi_detail_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
