<!DOCTYPE html>
<html>
  <head>
    <title>Testing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'users', media: 'all'%>
    <%= render 'shared/user_info'%>
    
    
  </head>

  <body>
  <p class = "notice"><%= notice %></p>
  <p class = "alert"><%= alert %></p>
  <p></p>
    <%= yield %>
  </body>
</html>
